@model List<MovieModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="MovieNight">
    <label for="title1">Search first movie by title: </label>
    <input size="40" type="text" id="title1" name="title1" placeholder="Enter title keyword(s)" /> <br /><br />
    <label for="title2">Search first movie by title: </label>
    <input size="40" type="text" id="title2" name="title2" placeholder="Enter title keyword(s)" /><br /><br />
    <label for="title3">Search first movie by title: </label>
    <input size="40" type="text" id="title3" name="title3" placeholder="Enter title keyword(s)" /><br /><br />
    <input type="submit" value="Search" /><br /><br />
</form>

@if (Model != null)
{
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h5>Movies that match your search: </h5> <br /><br />
    <div class="row">
        @foreach (MovieModel movie in Model)
        {
            <div class="col-sm-4">
                <img src="@movie.Poster" alt="@movie.Title Movie Poster" width="160" height="250" />
                <h4>@movie.Title (@movie.Year) @movie.Runtime</h4>
                <h6>@movie.Genre</h6>
                <p>@movie.Plot</p>
            </div>
        }
    </div>
}